<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.fdproject.client" version="1.0-SNAPSHOT">
   <name>PhoneGap Build Sample</name>
   <description>
      FDProject Client
   </description>
   <author href="TODO" email="">TODO</author>
</widget>