<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="css/app.css"/>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>

    <script src="lib/underscore.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</head>


<body>

<p>O2</p>

<div ng-controller="o2Controller">

    <table-input model="o2Setup.init" label="Initial"></table-input>
    <table-input model="o2Setup.rounds" label="Rounds"></table-input>
    <table-input model="o2Setup.hold" label="Max hold"></table-input>
    <table-input model="o2Setup.breathe" label="Breathe"></table-input>
    <table-input model="o2Setup.change" label="Increase"></table-input>

    <span ng-repeat="o2Value in o2Table track by $index">{{o2Value}} </span>

    <button ng-click="startTable(o2Table)">{{state.tickId ? 'Stop' : 'Start'}}</button>

    <div>{{state.frames[state.frame] ? state.frames[state.frame].value: 0}}</div>

    <audio id="start" src="sound/start.mp3" preload="auto"></audio>
    <audio id="finished" src="sound/finished.mp3" preload="auto"></audio>
    <audio id="breathe" src="sound/breathe.mp3" preload="auto"></audio>
    <audio id="hold" src="sound/hold.mp3" preload="auto"></audio>
</div>

</body>
</html>
